<!DOCTYPE html>
<html lang="en_US">

<head>
    <title>Jadwiga Ligęza</title>
    
    <link rel="stylesheet" href="{{ "style.css" | relURL }}">
    <script src="{{ "script.js" | relURL }}" defer></script>
</head>

<body>
    <div id="bike">
        <div class="girl" id="girl_back"></div>
        <a href="illustrations/" class="wheel" id="wheel_left"></a>
        <a href="animations/" class="wheel" id="wheel_right"></a>
        <div class="girl" id="girl_front"></div>
    </div>

    <div id="about"></div>
    <div id="illustrations"></div>
    <div id="animations"></div>

    <a href="https://instagram.com/jadwitchka" target="_blank" class="link">
        👉 My instagram
    </a>
</body>


</html>
